body{
    background-color: rgb(173, 255, 255);
}

h1{
    text-align: center;
}

input{
    margin: 5px;
    height: 25px;
    background-color: rgb(60, 170, 243);
}

#line{
    margin: 25px;
}

#btn{
    background-color: rgb(5, 5, 173);
    color: aliceblue;
    height: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.7s ease transform 0.7s ease;
}
#btn:hover{
    background-color: rgb(56, 2, 122);
    transform: scale(1.11);
}
::placeholder{
    color: rgb(53, 4, 201);
}